@import 'tailwindcss';

@theme {
  --primary-color: #2563eb;
  --primary-hover: #1d4edb;
  --background: #f8fafc;
  --surface: #ffffff;
  --border: #e2e8f0;
  --text-primary: #0f172a;
  --text-secondary: #64748b;
  --success: #10b981;
  --error: #ef4444;
}

@utility capitalize-first {
  @apply first-letter:uppercase;
}

.container {
  @apply max-w-7xl mx-auto px-6 sm:px-6 lg:px-8 bg-[#E2E2E2];
}

header {
  @apply bg-red-500 py-4 px-7 flex justify-between items-center;

  & h1 {
    @apply text-4xl text-[--primary-color];
  }
}

.search-bar {
  @apply w-full outline-0 p-5 my-4 border-2 border-black border-solid rounded-md;
}

.product-grid {
  @apply grid grid-cols-4 gap-3;

  .product-grid-item {
    @apply bg-white p-6 rounded-2xl border-[#e2e8f0] shadow-sm;

    .product-category {
      @apply text-[#2563EB] text-[14px] capitalize-first;
    }
    .product-title {
      @apply text-[18px] text-[#0f172a] font-semibold;
    }
  }
  .product-price {
    @apply text-[#2563eb] text-[14px] font-semibold;
  }

  .number-of-reviews {
    @apply text-[14px] text-[#64748b];
  }
}

.products-summary-container {
  @apply flex my-6 gap-x-5 justify-between;

  .summary-item {
    @apply flex bg-white gap-x-3 rounded-2xl p-6 items-center basis-1/4;

    .summary-img-container {
      @apply basis-1/4 self-start;

      img {
        @apply w-12 h-11;
      }
    }

    .summary-information {
      @apply flex flex-col gap-y-3;
    }

    .summary-title {
      @apply font-semibold;
    }

    .summary-title,
    .summary-description {
      @apply text-[14px] text-[#64748b];
    }

    .summary-amount {
      @apply text-2xl text-[#0f172a] font-semibold;
    }
  }
}
