@import 'tailwindcss';

@theme {
  --primary-color: #2563eb;
  --primary-hover: #1d4edb;
  --background: #f8fafc;
  --surface: #ffffff;
  --border: #e2e8f0;
  --text-primary: #0f172a;
  --text-secondary: #64748b;
  --success: #10b981;
  --error: #ef4444;
}

@utility capitalize-first {
  @apply first-letter:uppercase;
}

* {
  @apply box-border;
}

.container {
  @apply bg-[#F8FAFC] flex flex-col min-w-full min-h-screen;

  .main-content {
    @apply pt-5 px-25 pb-12.5;

    h2 {
      @apply text-[30px] font-bold text-[#0f172a];
    }

    p {
      @apply text-[#64748b] text-[14px];
    }
  }
}

header {
  @apply bg-white py-3 px-25 border-[#e2e8f0] shadow-sm flex items-center justify-between;

  div {
    @apply flex items-center gap-x-3.75;
  }

  div:last-of-type {
    button {
      @apply text-[#0f172a] font-bold text-[14px] py-1.25 px-3.75 border border-white;
    }

    button:hover {
      @apply cursor-pointer text-[#2563eb];
    }

    span {
      @apply inline-block bg-[#2563eb] text-white font-bold rounded-full text-[12px] h-5 w-5 text-center;
    }
  }

  h1 {
    @apply text-xl text-[--primary-color] font-bold;
  }
}

.search-bar {
  @apply w-full outline-0 py-2 px-3 my-4 border-2 border-[#e2e8f0] border-solid rounded-md text-[#64748b] text-[12px];
}

.product-grid {
  @apply grid grid-cols-4 gap-7 py-5;

  .product-grid-item {
    @apply bg-white p-6 rounded-2xl border-[#e2e8f0] shadow-sm;

    .product-image-container {
      @apply text-center flex;

      .product-img {
        @apply block mx-auto w-[60%];
      }

      .favorite-icon:hover {
        @apply cursor-pointer;
      }
    }

    .product-category {
      @apply text-[#2563EB] text-[14px] capitalize-first;
    }
    .product-title {
      @apply text-[18px] text-[#0f172a] font-semibold;
    }

    .product-rating {
      @apply flex items-center gap-x-1.25 mb-2.5;

      .stars {
        @apply flex;
      }

      .number-of-reviews {
        @apply text-[14px] text-[#64748b];
      }
    }
    .product-price {
      @apply text-[#2563eb] text-[14px] font-semibold;
    }
  }
}

.products-summary-container {
  @apply flex my-7 gap-x-5;

  .summary-item {
    @apply flex bg-white rounded-2xl p-3 pl-6 items-center border-[#e2e8f0] shadow-sm w-61.25;

    .summary-img-container {
      @apply basis-1/4 self-start;
    }

    .summary-information {
      @apply flex flex-col gap-y-1;
    }

    .summary-title {
      @apply font-semibold;
    }

    .summary-title,
    .summary-description {
      @apply text-[12px] text-[#64748b];
    }

    .summary-amount {
      @apply text-2xl text-[#0f172a] font-semibold;
    }
  }
}

.categories {
  @apply flex gap-x-2.5;

  button.categoryItem {
    @apply text-[#0f172a] py-1.25 px-3.75 border border-[#e2e8f0] rounded-[15px] capitalize;
  }

  button.categoryItem:hover {
    @apply cursor-pointer bg-[#2563eb] text-white;
  }
}

.active {
  @apply text-white! bg-[#2563eb] border border-[#2563eb] rounded-[15px];
}

.show-products-total {
  @apply py-2.5 px-0 font-bold;
}

.overlay {
  @apply fixed top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.6)] overflow-y-scroll;
}

.product-item {
  @apply shadow-sm bg-white p-6 border border-[#e2e8f0] rounded-2xl w-[75%] my-8.75 mx-auto;

  .product-item-content {
    @apply flex gap-x-3.75;

    .product-item-image-container {
      @apply bg-[#85888b] rounded-2xl;

      img {
        @apply block w-[60%];
      }
    }

    .product-item-content-information {
      .product-category {
        @apply text-[#2563eb] text-[12px];
      }

      h3 {
        @apply text-2xl font-bold my-1.25;
      }

      .product-rating {
        @apply inline mx-0.75 text-[#0f172a] text-[10px] font-bold;
      }

      .product-reviews-amount {
        @apply inline mx-0.75 text-[#64748b] text-[10px];
      }

      .product-price {
        @apply text-[#2563eb] text-xl font-bold my-1.25;

        .stock-indicator {
          @apply inline-block ml-2.5 text-[#10b981] font-normal text-[12px];
        }
      }

      .product-description {
        @apply text-[12px] text-[#64748b] my-1.25;
      }
    }
  }
}

.product-item-about {
  .about-header-section {
    @apply flex gap-x-2.5 mb-3.75;
  }

  h3 {
    @apply text-[#0f172a] font-bold;
  }

  .info-title {
    @apply font-bold p-2;
  }

  .info-detail {
    @apply pl-5;
  }

  .info-detail-tag {
    @apply inline-block text-white bg-[rgba(37,99,235,0.6)] py-0.5 px-2.5 mx-1 rounded-[15px] capitalize;
  }
}

.product-item-block {
  @apply rounded-2xl p-4 my-2.5 shadow-sm;
}
